# provided_services.config - List of services being published.
#
# Listening ports on front are assigned from port 20 000 onwards,
# picking the next free one when a new port is required.
#
# Port    Listen ip    Running host           To     Config
#-----    #--------    #-----------           #-     #-----
20000     *            live-blog-1            22     userlogin
20001     10.0.0.1     live-blog-1            8000
#20002    10.0.0.1     overlord               80
20003     10.0.0.1     taikwp                 80
20004     10.0.0.1     websites               80
20005     *            live-blog-2            22     userlogin
20006     10.0.0.1     live-blog-2            8000
20007     *            dcp-2                  22
20008     *            main-events-2          22
#20009    *            main-mogile-2          22
20010     *            main-events-1          22
#20011    *            main-mogile-1          22
20012     *            websites               22
20013     *            legacy-media-1         22     userlogin
20014     *            test-miner             22     userlogin
20015     *            legacy-media-2         22     userlogin
20016     *            miner                  22     userlogin
20017     *            dcp-1                  22
20018     *            dev-core               22     userlogin
20019     10.0.0.1     dev-core               80
20020     *            test-mogile-1          22     userlogin
20021     *            test-mogile-2          22     userlogin
20022     localhost    test-mogile-1          7001
20023     localhost    test-mogile-2          7001
20024     *            dev-mogile-1           22
20025     *            main-events-1          80
20026     *            main-events-2          80
20027     *            dev-dcp                22
20028     10.0.0.1     dev-dcp                80
20029     *            kukka                  22     userlogin
20030     *            pilvi                  22     userlogin
20031     *            savu                   22     userlogin
20032     *            ruoho                  22     userlogin
#20033    *            sade                   22
#20034    *            papu                   22
20035     *            dev-events             22
20036     *            dev-events             80
20037     *            blogging               22
20038     10.0.0.1     blogging               80
20039     *            live-mogile-1          22     userlogin
20040     *            live-mogile-2          22     userlogin
20041     *            main-mysql-a           22
20042     localhost    main-mysql-a           3306
20043     *            live-urlcache-1        22     userlogin
20044     *            live-urlcache-2        22     userlogin
20045     *            test-urlcache-1        22     userlogin
20046     localhost    dcp-1                  11211
20047     localhost    live-mogile-1          7001
20048     localhost    live-mogile-2          7001
20049     10.0.0.1     dcp-2                  80
#20050    *            kivi                   22     userlogin
20051     *            yrtti                  22     userlogin
20052     *            taikwp                 22
#20053    localhost    main-mysql-1           3306
#20054    localhost    main-mysql-2           3306
20055     localhost    dev-mogile-1           7001
20056     10.0.0.1     live-urlcache-1        8000   servicepool
20057     10.0.0.1     live-urlcache-2        8000   servicepool
20058     10.0.0.1     test-urlcache-1        8080   servicepool
20059     10.0.0.1     test-urlcache-2        8080   servicepool
20060     *            test-urlcache-2        22     userlogin
20061     10.0.0.1     dcp-1                  80
#20062    *            kaasu                  22
#20063    10.0.0.1     kaasu                  80
20064     *            dev-events             8080
20065     *            nag-1                  22     userlogin
#20066    free
#20067    free
20068     *            live-web-1             22     userlogin
20069     10.0.0.1     live-web-1             80
20070     *            live-web-2             22     userlogin
20071     10.0.0.1     live-web-2             80
#20072    *            budi                   22     userlogin
#20073    *            blogging2              22
#20074    10.0.0.1     blogging2              80
20075     *            beta-dcp               22
20076     10.0.0.1     beta-dcp               80
20077     *            dev-dcp-2              22
20078     10.0.0.1     dev-dcp-2              80
20079     *            dev-app                22
20080     10.0.0.1     dev-app                8000
20081     *            cs-error-logging       22
20082     10.0.0.1     cs-error-logging       80
20083     *            analyzer               22
20084     *            mm-mysql-5             22     userlogin
20085     localhost    mm-mysql-5             3306
20086     *            mm-mysql-6             22     userlogin
20087     localhost    mm-mysql-6             3306
#20088    *            mm-mysql-a             22     userlogin
20089     *            puppet                 22     userlogin
20090     *            myssy                  22     userlogin
20091     *            keksi                  22     userlogin
20092     10.0.0.1     miner                  80

# Databases for blog hosts and testing environment
20093     *            blog-mysql-1           22     userlogin
20094     localhost    blog-mysql-1           3306
20095     *            blog-mysql-2           22     userlogin
20096     localhost    blog-mysql-2           3306
20097     *            blog-mysql-3           22     userlogin
20098     localhost    blog-mysql-3           3306
20099     *            test-mysql-1           22     userlogin
20100     *            test-mysql-2           22     userlogin
20101     localhost    test-mysql-1           3306
20102     localhost    test-mysql-2           3306

# Gearmen
20103     *            live-gearman-1         22     userlogin
20104     *            live-gearman-2         22     userlogin
20105     localhost    live-gearman-1         4730
20106     localhost    live-gearman-2         4730
20107     *            test-gearman-1         22     userlogin
20108     *            test-gearman-2         22     userlogin
20109     localhost    test-gearman-1         4730
20110     localhost    test-gearman-2         4730

# Github webhook listening on puppetmaster
20111     10.0.0.1     puppet                 80

20112     *            dev-gearman            22     userlogin
20113     localhost    dev-gearman            4730
20114     *            jojo                   22     userlogin
20115     *            dev-mysql              22     userlogin
20116     localhost    dev-mysql              3306
20120     *            pacman                 22     userlogin

# 20121-20140

20141     *            kapseli                22
20142     10.0.0.1     kapseli                80
20143     localhost    kapseli                3501
20146     *            log-1                  22     userlogin
20147     localhost    log-1                  1514
20148     *            log-2                  22     userlogin
20149     localhost    log-2                  1514
20152     *            beta-gearman           22     userlogin
20153     localhost    beta-gearman           4730
20154     *            beta-api               22     userlogin
20155     10.0.0.1     beta-api               8000   servicepool
20156     *            beta-memcached         22     userlogin
20157     localhost    beta-memcached         11211
20158     *            backup-1               22     userlogin
20159     *            backup-2               22     userlogin
20160     *            test-front-1           22     userlogin
20161     *            live-front-1           22     userlogin
20162     *            live-front-2           22     userlogin
20163     *            test-stats-1           22     userlogin
20164     10.0.0.1     test-stats-1           8000   servicepool
20165     *            live-stats-1           22     userlogin
20166     10.0.0.1     live-stats-1           8000   servicepool
#20168    free
#20169    free

### API
20170     *            stable-api-1           22     userlogin
20171     10.0.0.1     stable-api-1           8000   servicepool
20172     *            stable-api-2           22     userlogin
20173     10.0.0.1     stable-api-2           8000   servicepool
20174     *            live-api-1             22     userlogin
20175     10.0.0.1     live-api-1             8000   servicepool
20176     *            live-api-2             22     userlogin
20177     10.0.0.1     live-api-2             8000   servicepool
20178     *            test-api-1             22     userlogin
20179     10.0.0.1     test-api-1             8000   servicepool
20180     *            test-api-2             22     userlogin
20181     10.0.0.1     test-api-2             8000   servicepool
20182     *            alpha-api-1            22     userlogin
20183     10.0.0.1     alpha-api-1            8000   servicepool
20184     *            alpha-api-2            22     userlogin
20185     10.0.0.1     alpha-api-2            8000   servicepool

### Testing environment apart
20190     *            test-memcached-1       22     userlogin
20191     *            test-memcached-2       22     userlogin
20192     *            test-cron-core-1       22     userlogin
20193     *            test-http-core-1       22     userlogin
20194     *            test-http-core-2       22     userlogin
20195     10.0.0.1     test-http-core-1       80     servicepool
20196     10.0.0.1     test-http-core-2       80     servicepool
20197     *            test-worker-core-1     22     userlogin
20198     *            test-worker-core-2     22     userlogin

### Active aliases

#29999    free
29998     *            live-front-a           22     userlogin
#29997    is reserved public service port for blog-mysql-a
29996     localhost    blog-mysql-a           33066
29995     *            blog-mysql-a           22     userlogin
#29994    is reserved public service port for mm-mysql-a
29993     localhost    mm-mysql-a             33066
29992     *            mm-mysql-a             22     userlogin
29991     *            live-blog-a            22     userlogin
29990     10.0.0.1     live-blog-a            8000
29989     *            legacy-media-a         22     userlogin
29988     10.0.0.1     legacy-media-a         80
#29987    is reserved public service port for test-mysql-a
29986     localhost    test-mysql-a           33066
29985     *            test-mysql-a           22     userlogin
29984     *            test-memcached-a       22     userlogin
29983     10.0.0.1     test-memcached-a       11211

# Front acts as puppetmaster
8140      10.0.0.1     puppet                 8140

# Front needs a direct access to mogile instances
# using localhost:port to handle reproxy urls.
#
7700      localhost    dev-mogile-1           7500
7701      localhost    dev-mogile-1           7501
7702      localhost    live-mogile-1          7500
7703      localhost    live-mogile-1          7501
7704      localhost    live-mogile-2          7500
7705      localhost    live-mogile-2          7501
7706      localhost    test-mogile-1          7500
7707      localhost    test-mogile-1          7501
7708      localhost    test-mogile-2          7500
7709      localhost    test-mogile-2          7501

# I hereby declare that the port namespace 42k is to be used
# on ephemeral test machines. One ought to come to terms with
# the fact that these ports may be recycled and reused.
