# used_services.config - List of services bound to use.
#
# Port    Listen ip    Running host       To
#-----    #--------    #-----------       #-
3306      localhost    dcp-1              29994
7001      127.0.0.2    dcp-1              20047
7500      127.0.0.2    dcp-1              7702
7501      127.0.0.2    dcp-1              7703
7001      127.0.0.3    dcp-1              20048
7500      127.0.0.3    dcp-1              7704
7501      127.0.0.3    dcp-1              7705
11211     localhost    dcp-1              29981
20105     localhost    dcp-1              20105
20106     localhost    dcp-1              20106
2525      localhost    dcp-1              25

3306      localhost    dcp-2              29994
7001      127.0.0.2    dcp-2              20047
7500      127.0.0.2    dcp-2              7702
7501      127.0.0.2    dcp-2              7703
7001      127.0.0.3    dcp-2              20048
7500      127.0.0.3    dcp-2              7704
7501      127.0.0.3    dcp-2              7705
11211     localhost    dcp-2              29981
20105     localhost    dcp-2              20105
20106     localhost    dcp-2              20106
2525      localhost    dcp-2              25

3306      localhost    dev-dcp            20116
7001      localhost    dev-dcp            20055
7500      localhost    dev-dcp            7700
7501      localhost    dev-dcp            7701
4730      localhost    dev-dcp            20113

3306      localhost    beta-dcp           29994
7001      127.0.0.2    beta-dcp           20047
7500      127.0.0.2    beta-dcp           7702
7501      127.0.0.2    beta-dcp           7703
7001      127.0.0.3    beta-dcp           20048
7500      127.0.0.3    beta-dcp           7704
7501      127.0.0.3    beta-dcp           7705
11211     localhost    beta-dcp           20157
20153     localhost    beta-dcp           20153
2525      localhost    beta-dcp           25

7001      localhost    miner              20047
7500      localhost    miner              7702
7501      localhost    miner              7703

### Core is the new DCP
#
3306      localhost    test-cron-core-1   29987
11211     localhost    test-cron-core-1   29983
4730      localhost    test-cron-core-1   20109
4731      localhost    test-cron-core-1   20110
7001      127.0.0.4    test-cron-core-1   20022
7500      127.0.0.4    test-cron-core-1   7706
7501      127.0.0.4    test-cron-core-1   7707
7001      127.0.0.5    test-cron-core-1   20023
7500      127.0.0.5    test-cron-core-1   7708
7501      127.0.0.5    test-cron-core-1   7709

3306      localhost    test-http-core-1   29987
11211     localhost    test-http-core-1   29983
4730      localhost    test-http-core-1   20109
4731      localhost    test-http-core-1   20110
7001      127.0.0.4    test-http-core-1   20022
7500      127.0.0.4    test-http-core-1   7706
7501      127.0.0.4    test-http-core-1   7707
7001      127.0.0.5    test-http-core-1   20023
7500      127.0.0.5    test-http-core-1   7708
7501      127.0.0.5    test-http-core-1   7709

3306      localhost    test-http-core-2   29987
11211     localhost    test-http-core-2   29983
4730      localhost    test-http-core-2   20109
4731      localhost    test-http-core-2   20110
7001      127.0.0.4    test-http-core-2   20022
7500      127.0.0.4    test-http-core-2   7706
7501      127.0.0.4    test-http-core-2   7707
7001      127.0.0.5    test-http-core-2   20023
7500      127.0.0.5    test-http-core-2   7708
7501      127.0.0.5    test-http-core-2   7709

3306      localhost    test-worker-core-1 29987
11211     localhost    test-worker-core-1 29983
4730      localhost    test-worker-core-1 20109
4731      localhost    test-worker-core-1 20110
7001      127.0.0.4    test-worker-core-1 20022
7500      127.0.0.4    test-worker-core-1 7706
7501      127.0.0.4    test-worker-core-1 7707
7001      127.0.0.5    test-worker-core-1 20023
7500      127.0.0.5    test-worker-core-1 7708
7501      127.0.0.5    test-worker-core-1 7709

3306      localhost    test-worker-core-2 29987
11211     localhost    test-worker-core-2 29983
4730      localhost    test-worker-core-2 20109
4731      localhost    test-worker-core-2 20110
7001      127.0.0.4    test-worker-core-2 20022
7500      127.0.0.4    test-worker-core-2 7706
7501      127.0.0.4    test-worker-core-2 7707
7001      127.0.0.5    test-worker-core-2 20023
7500      127.0.0.5    test-worker-core-2 7708
7501      127.0.0.5    test-worker-core-2 7709

3306      localhost    dev-core           29987
11211     localhost    dev-core           29983
4730      localhost    dev-core           20109
4731      localhost    dev-core           20110
7001      127.0.0.4    dev-core           20022
7500      127.0.0.4    dev-core           7706
7501      127.0.0.4    dev-core           7707
7001      127.0.0.5    dev-core           20023
7500      127.0.0.5    dev-core           7708
7501      127.0.0.5    dev-core           7709

# access to blog-mysql and dev-mysql
3306      localhost    blogging           29997
3306      localhost    blogging2          29997
3306      localhost    dev-gearman        20116
3306      localhost    dev-mogile-1       20116

# blogs to blog-mysqls
3306      localhost    live-blog-1        29997
3306      localhost    live-blog-2        29997

# Production Mysql replication
20001     localhost    mm-mysql-5         20087
20001     localhost    mm-mysql-6         20085
20001     localhost    blog-mysql-1       20096
20001     localhost    blog-mysql-2       20094
20001     localhost    blog-mysql-3       20094
3307      localhost    test-mysql-1       20102
3307      localhost    test-mysql-2       20101

# mysql failover control ports
20094     localhost    blog-mysql-1       3306
20096     localhost    blog-mysql-2       3306

# http port switch for main-events
20026     localhost    main-events-1      20026
20025     localhost    main-events-2      20025

### Gearman to API bindings
#
4730      localhost    stable-api-1       20105
4731      localhost    stable-api-1       20106
4730      localhost    stable-api-2       20105
4731      localhost    stable-api-2       20106
4730      localhost    live-api-1         20105
4731      localhost    live-api-1         20106
4730      localhost    live-api-2         20105
4731      localhost    live-api-2         20106

20153     localhost    beta-api           20153
20153     localhost    alpha-api-1        20153
20153     localhost    alpha-api-2        20153

4730      localhost    test-api-1         20109
4731      localhost    test-api-1         20110
4730      localhost    test-api-2         20109
4731      localhost    test-api-2         20110

4730      localhost    dev-app            20113

# Backup hosts require access to production database
3306      localhost    backup-1           20087
3306      localhost    backup-2           20087

### Mogile port hulabaloo
#
# Relevant database should be bound to 3306 and
# Mogiles have each their own loopback address:
#
#   127.0.0.1  dev-mogile-1
#   127.0.0.2  live-mogile-1
#   127.0.0.3  live-mogile-2
#   127.0.0.4  test-mogile-1
#   127.0.0.5  test-mogile-2
#
3306      localhost    live-mogile-1      29994
7001      127.0.0.2    live-mogile-1      20047
7500      127.0.0.2    live-mogile-1      7702
7501      127.0.0.2    live-mogile-1      7703
7001      127.0.0.3    live-mogile-1      20048
7500      127.0.0.3    live-mogile-1      7704
7501      127.0.0.3    live-mogile-1      7705

3306      localhost    live-mogile-2      29994
7001      127.0.0.2    live-mogile-2      20047
7500      127.0.0.2    live-mogile-2      7702
7501      127.0.0.2    live-mogile-2      7703
7001      127.0.0.3    live-mogile-2      20048
7500      127.0.0.3    live-mogile-2      7704
7501      127.0.0.3    live-mogile-2      7705

3306      localhost    test-mogile-1      29987
7001      127.0.0.4    test-mogile-1      20022
7500      127.0.0.4    test-mogile-1      7706
7501      127.0.0.4    test-mogile-1      7707
7001      127.0.0.5    test-mogile-1      20023
7500      127.0.0.5    test-mogile-1      7708
7501      127.0.0.5    test-mogile-1      7709

3306      localhost    test-mogile-2      29987
7001      127.0.0.4    test-mogile-2      20022
7500      127.0.0.4    test-mogile-2      7706
7501      127.0.0.4    test-mogile-2      7707
7001      127.0.0.5    test-mogile-2      20023
7500      127.0.0.5    test-mogile-2      7708
7501      127.0.0.5    test-mogile-2      7709

### Fronts
#
# On front machines we have a varnish standing in front of mogile fetches
# and it is listening to 7500 as that is the normal mogile storage node
# http port. The varnish then passes the request to the real mogile through
# the port 7600 which we bind here to go to the actual mogile instance.
#
7600      127.0.0.1    live-front-1       7700
7600      127.0.0.2    live-front-1       7702
7600      127.0.0.3    live-front-1       7704

7600      127.0.0.1    live-front-2       7700
7600      127.0.0.2    live-front-2       7702
7600      127.0.0.3    live-front-2       7704

7600      127.0.0.1    test-front-1       7700
7600      127.0.0.4    test-front-1       7706
7600      127.0.0.5    test-front-1       7708
